<!--templates/profile_page.html-->
{% extends "mini_fb/base.html" %}
{% block content %}





<p> 
    <a href = "{% url 'update_profile' profile.pk %} " >Update Profile</a>
    
</p>

<h3>{{profile.first_name}} {{profile.last_name}}</h3>


    <h3><img src="{{profile.image_url}}" style="max-width: 200;"></h3>
    
    <h3>{{profile.city}}</h3>
    <h3>{{profile.email_address}}</h3>

<h2>Create a Status Message<h2>
    <form method='Post' enctype="multipart/form-data" 
    action='/mini_fb/profile/{{profile.pk}}/post_status'>
        {% csrf_token %}
        <table>
        {% for field in create_status_form %}
            
        
        <tr>
            <td>{{field.name}} </td>
            <td>{{field}}<td>
            
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Post" name="Post">
            </td>
        </tr>
        </table>
    </form>


<h2>Status</h2>
    <table>
         <tr>
            <th>Time</th>
            <th>Message</th>
        </tr>
        {% for p in profile.get_status_message %}
        <tr>
            <td>{{p.timestamp}}</td>
            <td>{{p.message}}</td>
            <td>{% if p.image%}
                <img src="{{p.image.url}}" style="max-width: 200;">
                {% endif %}
            </td>
            <td><a href = "{% url 'delete_status' profile_pk=profile.pk status_pk=p.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
   
    


