<!-- templates/update_profile.html
Author: Matthew Korn
Decription: Allows the user to create a profile with basic information to begin tracking fitness progress(Name, Email, City, Email
Height, Weight, Image)-->
{% extends 'final/base.html' %}
{% block content %}



    <style>
         
            h1 {text-align: center;}
            p {text-align: center;}
            h2 {text-align: center;}
        
        
        h2 {background-color: blue; font-family: monospace; font-size: 300%;}
        h3 {font-family: monospace;}
        a {color: black;}
        
       

    </style>
<h2>Create a Profile!</h2>
<form method='Post'>
    {% csrf_token %}
    <table>
    {% for field in form %} <!--Loop for fields in create profile form (First Name, Last Name City, Email, Height, Weight, Image) -->
    <tr>
        <td>{{field.name}} </td> <!--Displays field names -->
        <td>{{field}}<td> <!--Displays text box for entries-->
        
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Create New Profile" name="Create New Profile">
        </td>
    </tr>
    </table>
</form>




{% endblock %}