<!-- templates/profiles.html
Author:Matthew Korn 
Description: Displays all of the users in the database, showing their image and link to their profile-->
{% extends "final/base.html" %}
{% block content %}

<title>MyFitnessFriend</title>



<h3>Showing all Users</h3>



<center>
<table>
    <tr>
        <th>Profile Picture</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <div class="row">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
      </div>
      
      
      
    {% for profile in all_profiles_list %}
    <center>
    <tr>

        {% load columns %}



        
        
        
       
      
        <div style="width: 300px">
        <td> <img src='{{profile.image_url}}' style ="object-fit: cover; height:  250px; width: 200px;"></td>
        <td><a href="{% url 'show_profile_page' profile.pk %}">{{profile.first_name}}</a></td>
            
        <td><a href="{% url 'show_profile_page' profile.pk %}">{{profile.last_name}}</a></td>
    </div>
    </tr>
    </center>
    {% endfor %}

    
</table>
</center>
{% endblock %}