<!----final/show_news_feed.html
Author:Matthew Korn 
Description: Link to Workout Feed; takes all workouts in the database and returns them on one page in a "newsfeed view"-->

{% extends 'final/base.html' %}
{% block content %}

<style>
    table {text-align: center;}
    th {text-align: center;}
    td {text-align: center;}
    
    
</style>



<Center>
<h3>Showing all User Workouts</h3>

<table>
    {% for workout in all_workouts %}
    <tr>
        <th>Time</th>
        <th>Name</th>
        
        <th>Profile Image</th>
        <th>Workout</th>
        <th>Duration</th>
    </tr>
    
    
    <tr>
        <td>{{workout.timestamp}}</td>
        <td><a href="{% url 'show_profile_page' workout.profile.pk %}">{{workout.profile.first_name}} {{workout.profile.last_name}}</a></td>
        <td> <img src='{{workout.profile.image_url}}' style='max-width: 200;' style='max-height:200;'></td>
        {% if wrk.image %}
        <td><img src="{{workout.profile.image_url}}" style='max-width: 200;' style='max-height:200;'></td>
        {% endif %}
        <td>{{workout.workout}}</td>
        <td>{{workout.duration}}</td>
        

    {% endfor %}   
    </tr>
</table>
</Center>
{% endblock %}