<!--final/templates/profile_page.html
Author:Matthew Korn
Description: Link to Profile Page view; displays a users profile with all of their information, image, and recorded workouts-->
{% extends "final/base.html" %}
{% block content %}
<style>
p {font-family: monospace; border: 1px; border-style: solid; border-color: black; border-width: 1px;}
h2{font-family: Helvectica; font-size:250%;}
h3{font-family: monospace; font-size: 150%;}
</style>

<th><p> 
    <a href = "{% url 'update_profile' profile.pk %} " >Update Profile</a> 
</p></th>



<center>
<h2>{{profile.first_name}} {{profile.last_name}}</h2>


    <h3><img src="{{profile.image_url}}" style="width: 300;"></h3>
    <section class="Personal-info" id="personal info"><h2>About Me</h2></section>
   
    <Label><h3>Hometown</h3><p>{{profile.city}}</p></Label>
    <label><h3>Email</label></h3><p>{{profile.email_address}}</p>
    <label><h3>Height</label></h3><p>{{profile.height}}</p>
    <label><h3>Weight</label></h3><p>{{profile.weight}}</p>

<h2>Create a Workout<h2>
    <form method='POST' enctype="multipart/form-data" 
    action='/final/profile/{{profile.pk}}/post_workout'>
    
   
        {% csrf_token %}
        <table>
        {% for field in create_workout_form %} <!--Loop to retrieve the field names everytime for workout(Workout Type and Duration and image) and the 
        textbox field to enter the users responses-->
            
        
        <tr>
            <td>{{field.name}} </td> <!--Displays the field names of Workout Type, Duration and Image-->
            <td>{{field}}<td> <!--Displays the submission fields for Workout Type, Duration and Image-->
            
        </tr>
        {% endfor %}
        <tr>
           
            <td>
                <input type="submit" value="Post" name="Post">
            </td>
        </tr>
        </table>
    </form>


<h2>Workouts</h2>
    <table>
         <tr>
            <th>Time</th>
            <th>Workout</th>
            <th>Duration</th>
        </tr>
        {% for p in profile.get_workout %} <!--Loop to retrieve the time each workout was logged as well as the duration and image
        and display them on the users profile page-->
        <tr>
            <td>{{p.timestamp}}</td>
            <td>{{p.workout}}</td>
            <td>{{p.duration}}</td>
            <td>{% if p.image%} <!--If statement to display an image if entered to the workout form-->
                <img src="{{p.image.url}}" style="max-width: 200;">
                {% endif %}
            </td>
            <td><a href = "{% url 'delete_workout' profile_pk=profile.pk  workout_pk=p.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

    
</center>
{% endblock %}
   